<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="productFrom">
                <div class="form-group">
                  <label for="pname">Product Name</label>
                  <input type="text" id="pname" #pname [value]="productObj.pname" 
                  [disabled]="!canEditProduct" class="form-control">
                </div>
                <div class="form-group">
                  <label for="pstatus">Product Status</label>
                  <select name="" id="pstatus"  #pstatus class="form-control" 
                  [disabled]="!canEditProduct"  [value]="productObj.pStatus">
                    <option value="In progress">In progress</option>
                    <option value="Dispatched">Dispatched</option>
                    <option value="Delivered">Delivered</option>
                  </select>
                </div>
                <div class="text-right" >
                    <button class="btn btn-primary" (click)="UpdateProduct(pname,pstatus)" [disabled]="! canEditProduct">
                        Update Product
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
