<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group" >
                <li class="list-group-item"
                [routerLink]="['/users', user.id]"
                [queryParams]="{userRole : user.userRole}"
                *ngFor="let user of userArray">
                    {{user.userName}}
                </li>
            </ul>
            <hr>
            <button class="btn btn-primary" routerLink="/products">Go to products</button>
        </div>
    </div>
</div>
